{% extends 'inicio_Rincon_Jeremy/base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="text-center mb-5">

    <h1>Bienvenidos a nuestro proyecto</h1>

    <p>
        Selecciona uno de los temas para conocer más información.
    </p>

</div>


<div class="row">

    {% for tema in temas %}

        <div class="col-md-6 mb-4">

            <div class="card h-100 shadow">

                <div class="card-body">

                    <h2 class="card-title">
                        {{ tema.nombre }}
                    </h2>

                    <p class="card-text">
                        {{ tema.descripcion }}
                    </p>

                    <a href="{% url 'inicio:detalle_tema' tema.id %}"
   class="btn btn-primary">

    Ver {{ tema.nombre }}

</a>

                </div>

            </div>

        </div>

    {% endfor %}

</div>

{% endblock %}